h1{
    text-align: center;
    font-style: italic;
    background-color: rgb(207, 163, 163);
    border-style: solid;
    border-radius: 20%;
    padding: 5px;
    width: 170mm;
    position: relative;
    right: -160mm;
        }
body{
    background-color: rgb(240, 218, 208);
}
table{
margin-top: 50px;
border-collapse: collapse;
border: 5px solid rgb(112, 18, 18);
     }
th{
    background-color: black;
    color: burlywood;
    }
td, th{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    border: 2px solid rgb(112, 18, 18);
    
        }
td{
    background-color: rgb(247, 240, 240)
}

.main{
    height: 1200px;
}

body{
    background-image: url(Imagenes/Black.jpg);
    background-position: center center;
    
    background-size: cover;
    background-attachment: fixed;
}
.tema{
    position: relative;
    font-size: 8mm;
    right: -150mm;
    text-align: center;
    width: 40%;
    background-color: rgb(63, 102, 68);
    border-style: solid;
    border-radius: 20%;
    padding: 5px;
}
.tema2{
    position: relative;
    left: 200mm;
    top: 10mm;
    text-align: center;
    width: 20%;
    height: 8mm;
    background-color: rgb(42, 119, 138);
    border-style: solid;
    border-radius: 20%;
    padding: 5px;
    margin-bottom: 4mm;
}
.NY{
    position: relative;
    right: -185mm;
    bottom: -10mm;
    border-collapse: collapse;
    border-style: solid;
    border-color: turquoise;
    border-radius: 20%;
    padding: 10px;
}
.FIRE{
    position: relative;
    left: -100mm;
    bottom: -10mm;
    border-collapse: collapse;
    border-style: solid;
    border-color: rgb(164, 189, 56);
    border-radius: 20%;
    padding: 10px;
}
.MOON{
    position: relative;
    left: 65mm;
    bottom: -10mm;
    border-collapse: collapse;
    border-style: solid;
    border-color: rgb(144, 137, 204);
    border-radius: 20%;
    padding: 10px;
}

img:hover{
transform: scale(0.8);
transition: all 0.5s ease-in-out;
}